google_api_python_client==2.74.0
gsheetsdb==0.1.13.1
matplotlib==3.5.2
numpy==1.26.4
pandas==1.4.3
protobuf==4.21.12
seaborn==0.12.2
streamlit_on_Hover_tabs==1.0.1
pip==23.0.1
plotly==5.9.0
yfinance==0.2.38
python-dotenv==1.0.1
streamlit-extras==0.4.2